body{
    /* background-color: cadetblue; */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    position: relative;
}
.header_div
{
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding-top: 7px; */
    background: linear-gradient(252.44deg, #621BD6 0%, #7739F1 95.92%);
}
#header_logo
{
    margin-top:31px;
}
#header_nav_item
{
    margin-top: 45px;
}
#header_button
{
    margin-top: 27px
}
#header_btn_login
{
    color: white;
}
#header_btn_2
{
    margin-left: 8%;
    background-color: white;
    border-radius: 57px;
    border: none;
    color: purple;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
      color: white;
      text-decoration:none;
   
  }

.would_like
{
    font-size: 54px;
    font-weight: 500;
    font-style: normal;
    color: white;
}
.pet_people
{
    font-size: 32px;
    color: white;
    font-style: normal;
    font-weight: 500;
}
.explore_paragraph
{
    font-size: 17px;
    color: white;
    font-weight: normal;
    font-style: normal;
}
#header_big_dog
{
    position: relative;
    
    width: 400px;
    height: 389px;
}
#header_div_imgs
{
    width:auto;
    padding-right:80px;
    border:2px solid linear-gradient(252.44deg, #621BD6 0%, #7739F1 95.92%);
}

/* header end here */
#main_content{
    margin-top: 7%;
}
#main_content_div
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6161FF;
}
#main_content_paragraph
{
    display: flex;
    justify-content: center;
    position: relative;
    left: 34px;
    padding: 8px;
    font-weight: bold;
}
#category_input
    {
        border: 1px solid gray;
        border-radius: 30px;
        left: 8px;
        bottom: 10px;
        position: relative;
        width: 225px;
        height: 40px;
        padding-left: 20px;
        font-weight: bold;
    }
 #cate_para
 {
    padding-left: 16px;
    font-size: 19px;
 }   
#category_input
        {
            border: 1px solid gray;
        border-radius: 30px;
        left: 8px;
        bottom: 10px;
        position: relative;
        width: 225px;
        height: 40px;
        padding-left: 20px;
        font-weight: bold;
    }

    #location_para
    {
        padding-left: 16px;
        font-size: 19px;
    }   
    #location_input
        {
            border: 1px solid gray;
            border-radius: 30px;
            left: 8px;
            bottom: 10px;
            position: relative;
            width: 300px;
            height: 40px;
            padding-left: 20px;
            font-weight: bold;
    }
    #keyword_para
    {
        padding-left: 16px;
        font-size: 19px;
    }   
    #keyword_input
        {
            border: 1px solid gray;
            border-radius: 30px;
            left: 8px;
            bottom: 10px;
            position: relative;
            width: 200px;
            height: 40px;
            padding-left: 20px;
            font-weight: bold;
    }
    #keyword_button
    {
        
        background: #6161FF;
        box-shadow: 0px 4px 20px rgba(97, 97, 255, 0.49);
        border-radius: 59px;
        color: white;
        position: relative;
        bottom: 10px;
        left: 22px;
        padding: 7px 31px;
    }
    #sort-latest-div
    {
        float: right;
        margin-top: 40px;
    }
    #sort_latest_slect
    {
        color: rgba(27, 192, 192, 1);
        border:none;
        width: 90px;
        margin-right: 26px;
    }
    #card_main{
        margin-top: 10%;
    }


    #first_card_sm_img_1
    {
        position: absolute;
        bottom: 89%;
        left: 7%;
        border-radius: 40px;
    }
    #first_card_sm_img_2
    {
        border-radius: 20px;
        position: absolute;
        bottom: 89%;
        left: 19%;

    }

    #first_card_sm_img_3
    {
        border-radius: 20px;
        position: absolute;
        bottom: 89%;
        left: 31%;
    }
    .card_body_main_div
    {
        width: 350px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
    }
    #card_body
    {
        display: flex;
        font-size: 20px;
        font-weight: bold;
    }
    .card_text
    {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #878787;
    }
    #card_button
    {
        margin-left: 10px;
        margin-bottom: 13px;
        

    }
    /* second start here */
    #second-card-sm-img-1
    {
        position: absolute;
        bottom: 89%;
        border-radius: 20px;
        left: 6%;
    }
    #second-card-sm-img-2
    {
        position: absolute;
        bottom: 89%;
        border-radius: 20px;
        right: 72%;
    }
    .second_card_body_2
    {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        margin-top: 9px;
    }

    .card_text
    {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #878787;
    }
    #second-card-button
    {
        margin-top: 32px;
    }
    .card_body_2
    {
        /* border: 1px solid; */
        height: 158px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
    }
    #footer-main-div
    {
        position: relative;
        bottom: 121px;
    }
    #footer-contact-div
    {
        position: relative;
        right: 29px;
    }
    #footer_hd
    {
        
        color:rgba(97, 97, 255, 1);
        position: relative;
        right: 30px;
    }
    #footer-menu-div
    {
        position: relative;
        right: 29px;
        margin-bottom: 10%;
    }
    #footer-legal-div
    {
        position: relative;
        right: 31px;
    }
    .footer_links
    {
        width:auto;
        padding: 0px 5px;
    }
    #form_main
    {
        margin-top: 10%;
    }
    #form_dog
    {
        width: 100%;
    }
    #form_div
    {
        position: relative;
    }
    #name
    {
        width: 250px;
        border-radius:63px;
        border: none;
        padding:0px 35px;
        height: 40px;
    }
    #zip_code
    {
        width: 209px;
        border-radius:63px;
        border: none;
        padding:0px 35px;
        height: 40px;
    }
    #message
    {
        width:464px;
        height: 40px;
        margin-top:10px;
        border-radius:63px;
        border:none;
        padding:0px 35px;
    }
    #dog_pack
    {
        width:100%;
    }
    #third_part
    {
        margin-top:10%;
        background: #F7FFFF;
    }
    #submit
    {
        border-radius: 63px;
        border: none;
        padding:10px 50px;
        margin-top:10px;
        background-color: rgba(27, 192, 192, 1);
        color: white;
        font-size: 14px;
        font-weight: bold;                        
        margin-left: 336px;
    }
    #feature
    {
        color:rgba(97, 97, 255, 1);
    }
    #ZIWI
    {
        color: black;
        font-weight: bold ;
    }
    #finding
    {
        font-size: 20px;
    }
    #third_part_button
    {
        
        padding:5px 10px;
        margin-right:30px;
        background-color:#6161FF;
        color: white;
        border: none;
        border-radius: 30px;
        font-size: 15px;
    }
    #company
    {
        color:#6161FF;
        text-decoration:none;
    }
    #footer-contact-div
    {
        margin-right:10%;
    }

    /* NEW CODE START HERE */
    #first-card-div
{
    width: 18rem;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}

#first-card-sm-img-1
{
    position: relative;
    left: 7px;
    width: auto;
    border-radius: 16px;
    bottom: 209px;
}
#first-card-sm-img-2
{
    position: relative;
    width: auto;
    bottom: 210px;
    left: 8px;
    border-radius: 16px;
}
#first-card-sm-img-3
{
    position: relative;
    width: auto;
    bottom: 211px;
    border-radius: 16x;
    border-radius: 16px;
    left: 7px;
}
#card-button
{
    display: flex;
}
#card-body
{
    display: flex;
    position: relative;
    bottom: 50px;
}
#card-body-paragraph
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 36px;
    
}
.card-text
{
    position: relative;
    bottom: 48px;
    font-weight: 400;
}


#card-body-paragraph-2
{
    position:relative;
    top:9px;
    left:5px;
}
.btn1
{
    position: relative;
    right: 10px;
}
    /* NEW CODE END HERE */




































































/* MEDIA QUERY START HERE */

@media (max-width:1440px)
{
    #header_big_dog
    {
        top: 18px;
        left: 304px;

    }
    #header_btn_2
    {
        
        padding: 5px 10px;
    }
    .header_imgs
    {
        width: 192px;
        height: 195px;
    }
    #main_content_div_hd
    {
        font-size: 39px;
        font-weight: bold;
    }
    #main_content_paragraph
    {
        font-size:16px;
    }
    #form_div
    {
        bottom: 600px;
        left: 500px;
        width:513px;
    }
} 

/* laptop 1024 */
@media (max-width:1024px)
{
    #header_big_dog{
        top: 43px;
        left: 97px;
    }
    .header_imgs
    {
        width: 150px;
    }
    
    #keyword_button
    {
        top: 10px;
    }
    #form_div
    {
        left: 423px;
        bottom: 569px;
    
    }
    #desc
    {
        font-size: 15px;
    }
    }
/* TABLET 768px */
@media (max-width:768px)
{
    #header_big_dog
    {
        top: 0px;
        left: 329px;
    
    }
    .header_imgs
    {
        
        width: 200px;
        height: 210px;
    }
    #form_div
    {
        left: 210px;
        bottom: 406px;
    }
    #category_start_div
    {
        display: flex;
        flex-direction: column;
    }
    #card_div
    {
        display: flex;
        flex-direction: column;
    }
    #form_div
    {
        width: 51%;
        margin-left: 101px;
    }
    #enabled{
        font-size: 23px;
    }
    #name
    {
        width: 155px;
    }
    #zip_code
    {
        width: 155px;
    }
    #message
    {
        width: 318px;
    }
    #submit
    {
        margin-left: 195px;
    }
    #header_btn_2
    {
        right: 30px;
        top: 6px;
        font-size: 12px;
    
    }
    .pet_people
    {
        font-size: 26px;

    }
    .would_like
    {
        font-size: 36px;
    }
    #header_big_dog
    {
        height: 270px;
    }
    #category_start_div
    {
        align-items: center;
    }
    #card_row_div
    {
        display: inline-flex;
    }
    .card1
    {
        margin-top: 10px;
    }
    #feature
    {
        font-size: 16px;
    }
    #ZIWI
    {
        font-size: 19px;
    }
    #finding
    {
        font-size: 15px;
    }
    #footer-menu-div
    {
        right: 20px;
    }
    #links_div
    {
        display: flex;
    }

}

/* MOBILE */





@media (max-width:425px)
{
    #header_btn_2
    {
        position: relative;
        /* left: 37px; */
        width: 177%;
        height: 46%;
        right: 14px;
        margin-bottom: 14px;
    }
    #card_row_div
    {
        margin: auto;
    }
    .pet_people
    {
        font-size: 22px;
    }
    .explore_paragraph
    {
        font-size: 14px;
    }
    .would_like
    {
        font-size: 23px;
    }
    #header_big_dog
    {
        height:100%;
    }
    
    #header_big_dog
    {
        left: -5px;
        top: 0px;
    }
    #main_content_div_hd
    {
        font-size: 20px;
        font-weight: 600;
    }

    #main_content_paragraph
    {
        font-size:13px;
    }
    #dog_pack
    {
        width: 88%;
    }
    #y_bone
    {
        width: 48px;
    }
    #feature
    {
        font-size:19px;
    }
    #ZIWI
    {
        font-size: 18px;
    }
    #finding
    {
        font-size: 12px;
    }
    #third_part_button
    {
        padding: 0px 7px;
    }
    #y_bone
    {
        margin-bottom: 16px;
    }
    #form_div
    {
    	position: relative;
        margin-top: 0;
        top:0;
        width: 100%;
        margin-left: 0;
        left: 12px !important;
        bottom: 406px;
        position: relative;
        right: 0;

    }
    #enabled
    {
        font-size: 25px;
        font-weight: 800;
    }
    #desc
    {
        font-size: 15px;
        position: relative;
        bottom: 4px;
    }
    #name
    {
        /*height: 19px;*/
        position: relative;
        bottom: 16px;
        font-size: 14px;
        font-weight: 600;
        width: 160px;
    }
    #zip_code
    {
        position: relative;
        font-size: 14px;
        font-weight: 700;
        height: 19px;
        width: 160px;
        bottom: 14px;
    }
    #message
    {
        /*height: 19px;*/
        /*width: 160px;*/
        font-size: 15px;
        font-weight: 700;
        position: relative;
        bottom: 14px;
    }
    #form_val
    {
        position: relative;
        /*right: 141px;*/
    }
    #submit
    {
        margin-left: 26px;
        margin-top: 17px;
        font-size: 15px;
        font-weight: 900;
        position: relative;
        bottom: 20px;
    }
    #footer-main-div
    {
        top: 25px;
    }
    .footer
    {
        margin-left: 111px;
        padding-bottom: 30px;
    }

    
}
/* @media (max-width:425px)
{
    #header_btn_2
    {
        position: relative;
        width: 177%;
        height: 46%;
        right: 14px;
        margin-bottom: 14px;
    }
    .pet_people
    {
        font-size: 22px;
    }
    .explore_paragraph
    {
        font-size: 14px;
    }
    .would_like
    {
        font-size: 23px;
    }
    #header_big_dog
    {
        height:100%;
    }
    
    #header_big_dog
    {
        left: -5px;
        top: 0px;
    }
    #main_content_div_hd
    {
        font-size: 20px;
        font-weight: 600;
    }

    #main_content_paragraph
    {
        font-size:13px;
    }
    #dog_pack
    {
        width: 88%;
    }
    #y_bone
    {
        width: 48px;
    }
    #feature
    {
        font-size:19px;
    }
    #ZIWI
    {
        font-size: 18px;
    }
    #finding
    {
        font-size: 12px;
    }
    #third_part_button
    {
        padding: 0px 7px;
    }
    #y_bone
    {
        margin-bottom: 16px;
    }
    #form_div
    {
        margin-top: 177px;
    }
    #enabled
    {
        font-size: 8px;
        font-weight: 800;
    }
    #desc
    {
        font-size: 8px;
        width: 161px;
        position: relative;
        bottom: 4px;
    }
    #name
    {
        height: 19px;
        position: relative;
        bottom: 16px;
        font-size: 8px;
        font-weight: 600;
        width: 160px;
    }
    #zip_code
    {
        position: relative;
        font-size: 8px;
        font-weight: 700;
        height: 19px;
        width: 160px;
        bottom: 14px;
    }
    #message
    {
        height: 19px;
        width: 160px;
        font-size: 8px;
        font-weight: 700;
        position: relative;
        bottom: 14px;
    }
    #form_val
    {
        position: relative;
        right: 141px;
    }
    #submit
    {
        margin-left: 1px;
        height: 26px;
        width: 160px;
        font-size: 11px;
        font-weight: 900;
        position: relative;
        bottom: 20px;
    }
    #footer-main-div
    {
        top: 25px;
    }
    .footer
    {
        margin-left: 111px;
        padding-bottom: 30px;
    }

    
} */
/* media 375 */
@media (max-width:375px)
{
    #header_big_dog
    {
     
        left: -55px;
    }
    #main_content_div_hd
    {

    
        font-size: 20px;
        font-weight: 600;
    }
    #main_content_paragraph
    {
        font-size:13px;
        left:0px;
    }
    #keyword_button
    {
        top: 10px;
    }
}